.datingcards-containers {
    background-image: url('https://img.icons8.com/color/452/GeeksforGeeks.png');
    background-repeat : no-repeat;
    background-size: contain;
    background-color: #55ccff;
    box-shadow: 5px 10px #888888;
    border-radius: 10px;
    height: 300px;

}